
<div class="col_12 hide-phone" style="background-color:#EC1717;float:right;padding:5px">
	Ranking
</div>

<div style="width:100%;background-color:#fff;color:red;margin-left:0.83%">
	<ul class="ranking-list">
		<li>
			<span>#1</span>
			<strong style="">Adrian Perez</strong><br>
			<small>Sport name of ranking</small>
		</li>
		<li>
			<span>#2</span>
			<strong style="">Adrian Perez</strong><br>
			<small>Sport name of ranking</small>
		</li>
	</ul>
</div>

</div>