<div id="admin_box" class="tab-content">
	<div class="col_7" style="float:right;">

		<div class="col_12" style="background-color:#2d2b2a;padding:5px">
			Admin box
		</div>

		<div class="main-list">
			<div class="box_list">
				<ul class="ul_list">

				</ul>

				<!-- ENTRENAMIENTOS -->
				<li>
					<form class="center">
						<select><option id="one">TRAINING LIST</option></select>
						<button>Add group</button>

						<div class="col_12">
							<div class="head-training">
								NAME GROUP (PRE-WOD xej)
							</div>
							<div class="col_6">
								<button>Add set</button>
							</div>
							<div class="col_6">
								<button>Add exercise</button>
							</div>
							<div class="col_4">
								<input type="text" placeholder="SET 1"/>
							</div>
							<div class="col_4">
								<input type="number" placeholder="REPEATS" />
							</div>
							<div class="col_4">
								<input type="number" placeholder="TIME MAX" />
							</div>
							<div class="col_4">
								<input type="text" placeholder="Exercise"/>
							</div>
							<div class="col_4">
								<input type="number" placeholder="Reps"/>
							</div>
							<div class="col_4">
								<input type="number" placeholder="Kg/m"/>
							</div>
							<div class="col_12">
								<button>Add exercise</button>
							</div>
							<div class="col_6">
								<input type="text" placeholder="Excercise"/>
							</div>
							<div class="col_6">
								<input type="number" placeholder="Reps"/>
							</div>
							<div class="col_6">
								<input type="text" placeholder="POST"/>
							</div>
							<div class="col_6">
								<input type="text" placeholder="Reps/kg/time" />
							</div>
							<div class="col_12">
								<button>Save</button>
							</div>
							
						</div>
					</form>
				</li>

				<!-- CONFIGURAR BOX -->

				<li>
				</li>
			</div>
		</div>
	</div>
</div>