<div id="feed_panel" class="tab-content">
	<div class="col_7" style="float:right;">

		<div class="col_12" style="background-color:#2d2b2a;padding:5px">
			My boxes
		</div>

		<div class="col_12 view">

			<div class="col_4">
				<img id="picture_box" src="" alt=""/>
				<button id="members_box"></button>
				<h2 id="name_box"></h2>
				<span><i class="fa fa-map-marker"></i><h4 id="city_box"></h4></span>
				<h3 id="description_box"></h3>
				
			</div>
			


		</div>

		<div class="box-menu">
			<ul class="tabs right">
				<li class="normal"><a href="#my_box_home"><i class="fa fa-home"></i> HOME</a></li>
				<li class="normal"><a href="#my_box_members" id="list_members"><i class="fa fa-user"></i> MEMBERS</a></li>
				<li class="normal"><a href="#my_box_training" id="my_box"><i class="fa fa-user"></i> TRAINING</a></li>
				<li class="red create_training"><a href="#create_training"><i class="fa fa-user"></i> CREATE TRAINING</a></li>
			</ul>
		</div>

		<!-- CONTENT -->

		<div id="my_box_home" class="tab-content">
			<div class="col_12" style="float:right;margin-top:10px">
				<div class="col_12">
					<div class="col_12" style="background-color:#2d2b2a;padding:5px">
						Home
					</div>
					<ul class="feed-list">
						<li>
							<img src="/img/profile/55e5b8294c261c170b500cb2">
							<strong style="">Adrian Perez</strong><br>
							<span style="float:right;font-size:.8em;">08/09/2015</span>
							<small>ha publicado un nuevo artículo <strong>Cómo comenzar/Primeros entrenamientos</strong></small>
						</li>

						<li>
							<img src="/img/profile/55e442bb642da34f1d86eed2">
							<strong style="">Juan Bermudez</strong><br>
							<span style="float:right;font-size:.8em;">08/09/2015</span>
							<small>ha publicado un nuevo artículo <strong>Cómo comenzar/Primeros entrenamientos</strong></small>
						</li>

					</ul>
				</div>
			</div>
		</div>
		


		<div id="my_box_members" class="tab-content">
			<div class="col_12" style="float:right;margin-top:10px">
				<div class="col_12">
					<div class="col_12" style="background-color:#2d2b2a;padding:5px">
						Members
					</div>
					<ul class="members-list">
						
					</ul>
				</div>

			</div>
		</div>


		<div id="my_box_training" class="tab-content">
			<div class="col_12" style="float:right;margin-top:10px;">
				<div class="col_12">
					<div class="col_12" style="background-color:#2d2b2a;padding:5px">
						Training
					</div>

					<div class="center col_12">
						<select id="date-t">
							
						</select>
					</div>
					
					<div id="tmp-training">
					</div>
					<div id="tmp-exc"></div>
					
				</div>
			</div>
		</div>
		<!-- CREATE TRAINING -->
		<div id="create_training" class="tab-content">
			<div class="col_12" style="float:right;margin-top:10px">
				<div class="col_12">
					<div class="col_12" style="background-color:#2d2b2a;padding:5px">
						Create training
					</div>
					<div class="col_12">
						
						<p>Configure training</p>
						<div class="col_12"><input type="text" placeholder="Name" id="input_training_name"></div>
						<div class="col_4">
							<input type="number" placeholder="Max people" id="input_max_people">
						</div>
						<div class="col_4">
							<input type="number" placeholder="Level" id="input_level">
						</div>
						<div class="col_4">
							<input type="date" id="input_date" />
						</div>
						<div class="col_12">
							<textarea class="txt-area" id="input_textarea_training" placeholder="Description"></textarea>
						</div>

					</div>
					<div class="col_12">
						<div class="col_8">
							<p>Configure sets</p>
						</div>
						<div class="col_4">
							<div class="col_6">
								<button id="add">Add set</button>
							</div>
							<div class="col_6">
								<button id="remove">Remove set</button>
							</div>
						</div>
					</div>
					<!-- ENTRENAMIENTOS -->
					<ul id="ul_training"></ul>
					<button id='save_all'>SAVE ALL</button>
				</div>
			</div>
		</div>
	</div>
</div>







