<div id="feed_panel" class="tab-content">
	<div class="col_6" style="float:right;">

		<div class="col_12" style="background-color:#2d2b2a;padding:5px">
			Feed
		</div>

		<div class="result">
			<ul class="feed-list">
				<li>
					<img src="/img/profile/55e5b8294c261c170b500cb2"/>
					<strong style="">Adrian Perez</strong><br>
					<small>Se ha subscrito al box <strong>Prueba</strong> hace 30 min</small>
				</li>

				<li>
					<img src="/img/profile/55e442bb642da34f1d86eed2"/>
					<strong style="">Juan Bermudez</strong><br>
					<small>Se ha subscrito al box <strong>Prueba</strong> hace 10 min</small>
				</li>

			</ul>
		</div>
		
	</div>
</div>