<div id="search_box" class="tab-content">
	<div class="col_6" style="float:right;">

		<div class="col_12" style="background-color:#2d2b2a;padding:5px">
			Search box
		</div>

		<div class="main-list center">
			
			<form id="newsletter">
				<input type="text" placeholder="Search box..." autocomplete="off" id="tags">
				<button type="button"><i class="fa fa-search"></i></button>	
			</form>
			

			<div class="col_12">
				
				<ul class="result_search_list">
					
				</ul>


			</div>
		</div>
	</div>
</div>