<!DOCTYPE html>
<html>
<%- include ../head.ejs %>
<body>
	<div class="col_12 column center">
		
	<form id="admin" action="/admin" method="post">
			<h1>Management Panel</h1>
			<input type="text" name="username" placeholder="Email or username" />
			<input type="password" name="password" placeholder="Password" />
			<input type="submit" value="LOGIN" />
		</form>
		
	</div>
</body>

</html>