<!DOCTYPE html>
<html>
<%- include ../head.ejs %>
<body>
	<nav class="navbar">
		<ul class="social user_name">
			<li><a id="login-btn" href="#">Wellcome, <span>Admin</span></a></li>
			<li> | </li>
			<li><a href="/admin/logout">Logout </a></li>
		</ul>
	</nav>
	<div class="col_12" style="margin-top:60px">
		<% if(locals.csrf){%>
		<input type="hidden" id="csrfToken" name="_csrf" value="<%=csrf%>">
		<%}%>
		<div class="col_6">
			<p>Search user</p>
			<form id="search_box">
				<input type="text" placeholder="Search user ..." id="tags" autocomplete="off">
				<button type="button" id="search_user">SEARCH</button>	
				<div id="suggestions"></div>		
			</form>
		</div>
		<div class="col_6">
			<p>Search box</p>
			<form id="search_box">
				<input type="text" placeholder="Search box ..." id="tags2" autocomplete="off">
				<button type="button" id="search_b">SEARCH</button>	
				<div id="suggestions"></div>		
			</form>
		</div>
	</div>
	<div class="col_12">
		<div class="col_6 result_search_user hide">
			<div clas="col_6">
				<img src="/img/profile/55e42f2c60c82e44153cea66" alt="" />
			</div>
			<div class="col_6">
				<span><strong id="username"></strong></span><br><br>
				<span><strong>Admin: </strong>
					<label>
						<input type="checkbox" id="isAdmin" name="isAdmin"/>
						<span class="content"></span>
					</label>
				</span>
				<br>
				<span><strong>Email: </strong><small id="email"></small></span><br>
				<span><strong>Birthday: </strong><small id="bday"></small></span><br>
				<span><strong>Phone: </strong><small id="phone"></small></span><br>
				<span><strong>Country: </strong><small id="country"></small></span><br>
				<span><strong>Current number of box: </strong><small id="numBox"></small></span><br>
				<span><strong>Max box: </strong><input type="number" min="0" id="maxBox" name="maxBox"></span><button>Apply</button><br>
			</div>
		</div>
		<!--BOX -->
		<div class="col_6 result_search hide">
			<div clas="col_6">
				<img src="/img/profile/55e42f2c60c82e44153cea66" alt="" />
			</div>
			<div class="col_6">
				<span><strong id="name"></strong><input type="text" id="result_box_val"></span><br><br>
				<button>Change name</button>
			</div>
		</div>



		<div class="col_12">
			<p>Training</p>
			<div class="col_8">
				<form class="train_list">
					<input type="text" id="name_training" placeholder="Name">
					<input type="text" id="measure_training" placeholder="Measure">
					<input type="text" id="others_training" placeholder="Others">
					<button>SEND</button>
				</form>
			</div>
		</div>

	</div>

	<script>
		var label;
		var old_label;

		$('#tags').on('input', function() {


			if($('#tags').val().length >= 3){

				var	input_txt = $('#tags').val();
				var data = {'query':input_txt,'_csrf':	$("#csrfToken").val()};

				$.ajax({
					url: "/admin/searchUser",
					type: "POST",
					data: data,
					success: function(response) {

						if(response.status == "no_error"){

							result_array = [];

							for (var i = 0; i < response.data.length; i++) {

								result_array.push(response.data[i].username+" | "+response.data[i].email+" | "+response.data[i].fullName);

							};
							$('#tags').autocomplete({

								source: result_array,

								select: function (event, ui) {
									label = ui.item.label;
									user_email = ui.item.value;
									var myRe = new RegExp(" [a-z0-9!#$%&'*+/=?^_`-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])? ");
									email = myRe.exec(user_email)[0].trim();
									console.log(email);
									document.valueSelectedForAutocomplete = email;
								}

							});

						}
						else if(response.status == "error"){

						}else if(response.status == "no_user"){

						}

					},
					error: function(xhr) {}
				});
}
});

//BOX
$('#tags2').on('input', function() {


	if($('#tags2').val().length >= 3){

		var	input_txt = $('#tags2').val();
		var data = {'query':input_txt,'_csrf':	$("#csrfToken").val()};

		$.ajax({
			url: "/admin/searchBox",
			type: "POST",
			data: data,
			success: function(response) {

				if(response.status == "no_error"){

					result_array = [];


					for (var i = 0; i < response.data.length; i++) {

						result_array.push(response.data[i].name);

					};
					$('#tags2').autocomplete({

						source: result_array,

						select: function (event, ui) {
							
							label = ui.item.label;
							document.valueSelectedForAutocomplete = label;

							
						}

					});

				}
				else if(response.status == "error"){

				}else if(response.status == "no_user"){

				}

			},
			error: function(xhr) {}
		});
	}
});


//Box
$('#search_b').on('click', function() {
	var data = {'query':label,'_csrf':	$("#csrfToken").val()};
	
	$.ajax({
		url: "/admin/searchBox",
			  type: "POST", //send it through get method
			  data: data,
			  
			  success: function(response) {
			  	//alert(response.status);
			  	if(response.status == "no_error"){
			  		//$('.no_user').addClass('hide');
			  		$('.result_search').removeClass('hide');

			  		for (var i = 0; i < response.data.length; i++) {
			  			$('.result_search #result_box_val').val(response.data[i].name);
			  			old_label = response.data[i].name;

			  			//boxName;
			  			//newName;
			  			$('.result_search img').attr('src',response.data[i].boxPicture);
			  		}
			  	}
			  },
			  error: function(xhr) {}
			});
});



$('#search_box #search_user').on('click', function() {
	var data = {'email':email,'_csrf':	$("#csrfToken").val()};

	$.ajax({
		url: "/admin/search/email",
			  type: "POST", //send it through get method
			  data: data,
			  
			  success: function(response) {
			  	//alert(response.status);
			  	if(response.status == "no_error"){
			  		//$('.no_user').addClass('hide');
			  		$('.result_search_user').removeClass('hide');
			  		
			  		if(response.isOwner == true){
			  			$('.result_search_user input[type="checkbox"]').attr('checked',true);
			  			$('.result_search_user .content').text('YES');
			  		}else{
			  			$('.result_search_user input[type="checkbox"]').attr('checked',false);
			  			$('.result_search_user .content').text('NO');
			  		}

			  		$('.result_search_user #username').text(response.username);
			  		$('.result_search_user #email').text(response.email);
			  		$('.result_search_user #bday').text(response.birthdate);
			  		$('.result_search_user #phone').text(response.phone);
			  		$('.result_search_user #country').text(response.country);
			  		$('.result_search_user #numBox').text(response.numBox);
			  		$('.result_search_user #maxBox').val(response.maxBox);

			  		$('.result_search_user img').attr('src',response.profilePic);

			  	}
			  },
			  error: function(xhr) {}
			});
});


$('#search_box #search_user').on('click', function() {
	var data = {'email':email,'_csrf':	$("#csrfToken").val()};

	$.ajax({
		url: "/admin/search/email",
			  type: "POST", //send it through get method
			  data: data,
			  
			  success: function(response) {
			  	//alert(response.status);
			  	if(response.status == "no_error"){
			  		//$('.no_user').addClass('hide');
			  		$('.result_search_user').removeClass('hide');
			  		
			  		if(response.isOwner == true){
			  			$('.result_search_user input[type="checkbox"]').attr('checked',true);
			  			$('.result_search_user .content').text('YES');
			  		}else{
			  			$('.result_search_user input[type="checkbox"]').attr('checked',false);
			  			$('.result_search_user .content').text('NO');
			  		}

			  		$('.result_search_user #username').text(response.username);
			  		$('.result_search_user #email').text(response.email);
			  		$('.result_search_user #bday').text(response.birthdate);
			  		$('.result_search_user #phone').text(response.phone);
			  		$('.result_search_user #country').text(response.country);
			  		$('.result_search_user #numBox').text(response.numBox);
			  		$('.result_search_user #maxBox').val(response.maxBox);

			  		$('.result_search_user img').attr('src',response.profilePic);

			  	}
			  },
			  error: function(xhr) {}
			});
});

var check;
var email;
var isOwner;

$("#isAdmin").on("click", function(){
	check = $("#isAdmin").is(":checked");
	email = $('#email').text();

	if(check) {
		isOwner = 1;
		$('.content').text("YES");	  
	} else {
		isOwner = 0;
		$('.content').text("NO");
	}

	var data = {'isOwner':isOwner, 'email':email,'_csrf':	$("#csrfToken").val()};

	$.ajax({
		url: "/admin/addPrivileges",
			  type: "POST", //send it through get method
			  data: data,
			  
			  success: function(response) {
			  //	alert(response.status);
			},
			error: function(xhr) {}
		});
});

$(".result_search_user button").on("click",function(){

	var maxBox_value = $('.result_search_user #maxBox').val();
	email = $('.result_search_user #email').text();
	var data = {'maxBox':maxBox_value, 'email':email,'_csrf':	$("#csrfToken").val()};

	$.ajax({
		url: "/admin/AddNumberOfBox",
			  type: "POST", //send it through get method
			  data: data,

			  success: function(response) {
			  //	alert(response.status);
			},
			error: function(xhr) {}
		});
});


$(".result_search button").on("click",function(){

	var boxname_value = $('#result_box_val').val();
	
	var data = {'boxName': old_label,'newName':boxname_value,'_csrf':	$("#csrfToken").val()};

	$.ajax({
		url: "/admin/changeBoxName",
			  type: "POST", //send it through get method
			  data: data,
			  
			  success: function(response) {
			  	if(response.status=="no_error"){
			  		$('#result_box_val').val(" ");
			  	}else{
			  		alert("Error");
			  	}
			  },
			  error: function(xhr) {}
			});
});

$('.train_list button').on("click",function(){
	var get_name = $('#name_training').val();
	var get_measure = $('#measure_training').val();
	var get_others = $('#others_training').val();

	var data = {'name':get_name,'measure':get_measure,'others':get_others,'_csrf':	$("#csrfToken").val()};

	$.ajax({
		url: "/admin/addExercise",
			  type: "POST", //send it through get method
			  data: data,
			  
			  success: function(response) {
			  	alert(response);
			  },
			  error: function(xhr) {}
			});
});

</script>
</body>

</html>