<!DOCTYPE html>
<html>
<%- include ../head.ejs %>
<body>
	<nav class="navbar">
		<ul class="social">
			<li><a id="login-btn" href="#">Wellcome, <span>Admin</span></a></li>
			<li> | </li>
			<li><a href="/logout">Logout </a></li>
		</ul>
	</nav>
	<div class="col_12" style="margin-top:60px;z-index:9999">

		<div class="col_6">
			<form id="newsletter">
				<input type="text" placeholder="Search user ...">
				<button type="button">SEARCH</button>			
			</form>
		</div>
		<div class="col_6 result_search">

			<img src="/img/profile/55e42f2c60c82e44153cea66" alt="" />
			<strong>Adrian Perez</strong><br>
			<small>Admin: <strong>NO</strong></small><br>
			<small>Phone:</small><br>
			<small>Email:</small><br>
			<small>Country:</small><br>
			<small>Credits:</small><br>

			<button>Give admin</button>
			<button>Give credits</button>
			<button>Send message</button>
			<button>Delete user</button>
			<button>Change box</button>
			<button>Edit profile</button>

			<p>Boxs subscribe:</p>
			<div class="col_12">
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
			</div>


			<p>Clothes</p>
			<div class="col_12">
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
			</div>
			<p>Benchmark</p>
			<div class="col_12">
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
				<div class="col_3">
					Box 1 <input type="checkbox" value="Box 1">
				</div>
			</div>
		</div>
	</div>
</body>

</html>